# Archivos y carpetas generados por Unity que no se deben trackear
[Libraries and builds]
Library/
Temp/
Obj/
Builds/
Logs/
UserSettings/

# Archivos temporales del sistema operativo o herramientas
.DS_Store
*.apk
*.psd

# Configuración de IDEs
.vscode/
*.sln
*.csproj

# Otros
MemoryCaptures/
*.user
*.pidb
*.booproj
*.svd
*.pdb
